# Enviroment
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# DataBase
*.sqlite3
*.db

# Tokens and secrets
.env
config.py
settings.py

# Logs
*.log

# IDE
.pycharm/
.idea/

# System files
.DS_Store
