aiogram==3.24.0
alembic==1.18.4
APScheduler==3.11.2
asyncpg==0.31.0
matplotlib==3.10.8
numpy==2.4.2
pandas==3.0.0
python-dotenv==1.2.2
redis==8.0.0
requests==2.32.5
scipy==1.17.1
SQLAlchemy==2.0.46
yahooquery==2.4.1
yfinance==1.2.0
greenlet
dotenv